/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@900&display=swap');

  body {
    background-color: #fed8b1;
  }

  p {
    font-family: 'Montserrat', sans-serif;
  }

  h3 {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size:2vw;
  }

  .container {
   position: relative;
   text-align: center;
 }

 .top-left {
   position: absolute;
   top: 33px;
   left: 45px;
   color: #fbed55;
   background-color: #e0332f;
   font-size:5vw;
   font-family: 'Raleway', sans-serif;
   opacity: 0.8;
 }

 .top-left-icons {
   position: absolute;
   top: 33px;
   right: 145px;
   color: #fbed55;
   font-family: 'Raleway', sans-serif;
 }

 .top-right {
   position: absolute;
   top: 8px;
   right: 20px;
   color: #fbed55;
   background-color: #e0332f;
   font-size:2vw;
   font-family: 'Raleway', sans-serif;
 }

 .title-text {
   position: absolute;
   top: 33px;
   left: 45px;
   color: #fbed55;
   font-size:5vw;
   font-family: 'Raleway', sans-serif;
   opacity: 0.9;
   text-decoration: none;
 }
